@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
.card-flex {
  border-radius: 15px;
  border: 1px solid #cccccc;
  margin: 20px;
  margin-left: 20%;
  margin-bottom: -2px;
  width: 60%;
  padding: 20px;
  height: auto;
}

.card {
  border-bottom: 0.2px solid #cccccc;
}

img {
  float: left;
  width: 150px;
  height: 150px;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 50%;
  border: 0.2px solid #cccccc;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  float: left;
  margin-left: 5%;
  margin-top: 2%;
}

.first-ul {
  display: inline-block;
  list-style-type: none;
  margin-right: 50%;
  margin-top: -4%;
  text-align: left;
}

.second-ul {
  display: inline-block;
  list-style-type: none;
  margin-right: 45%;
  margin-top: 0;
  text-align: left;
}

input {
  color: #000;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #000 1px;
  padding: 3px 10px;
  font-size: 20px;
  width: 95%;
}

.input-tag {
  width: 50px;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

.accordion {
  float: right;
  margin-top: 2%;
  font-size: 50px;
  padding: 18px;
  border: none;
  color: #a9a9a9;
  padding: 0;
  border: none;
  background: none;
}
